<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Shadows+Into+Light&family=Silkscreen:wght@400;700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/firstSection.css">
    <link rel="stylesheet" href="/css/utilies.css">
    <link rel="stylesheet" href="/css/SecondSection.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <title>Rehatpreet Kaur - Developer Portfolio</title>
    <style>
      
    </style>
</head>

<body>
    <header>
        <nav>
            <div class="left">
                Rehatpreet's <span style="font-family: 'Poppins', sans-serif;font-weight: 200;">Portfolio</span>
            </div>
            <div class="right">
                <ul>
                    <li><a href="/about">Home</a></li>
                    <li><a href="/notes">Notes</a></li>
                    <li><a href="/articles">Articles</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="/contactMe">Contact Me</a></li>
                </ul>
            </div>


        </nav>
    </header>

    <main>

        <!-- firstSection -->
        <section class="firstSection">
            <div class="leftSection"><div class="intro">Hi, my name is </div><span class="text-purple"> Rehatpreet</span>
                <div>and I am a</div>
                <span id="element"></span>
                <div class="button">
                    <button class="resume-btn">Download Resume</button>
                    <button class="btn">Github</button>
                </div>
            </div>
            <div class="rightSection">
                <img src="/img/bg.webp" alt="sideImage">
            </div>
        </section>
        <hr>
        <!-- SecondSection -->
        <section class="secondSection " style="background-color: #1D1C4E;">
            <span class="text-grey">What I have learned so far</span>
            <h1>Languages</h1>

            <div class="box">
                <div class="vertical">
                    <img class="image-top" src="/img/c-colored.svg" alt="">
                    <div class="vertical-text">C</div>
                    <div class="vertical-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sit
                        voluptates beatae debitis quaerat repellat laboriosam magni, voluptatem expedita quidem. Itaque
                        deleniti, beatae consequatur vero expedita sequi. Commodi, consectetur voluptates.</div>
                </div>
                <div class="vertical">
                    <img class="image-top" src="/img/cplusplus-colored.svg" alt="">
                    <div class="vertical-text">C++</div>
                    <div class="vertical-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sit
                        voluptates beatae debitis quaerat repellat laboriosam magni, voluptatem expedita quidem. Itaque
                        deleniti, beatae consequatur vero expedita sequi. Commodi, consectetur voluptates.</div>
                </div>
                <div class="vertical">
                    <img class="image-top" src="/img/javascript-colored.svg" alt="">
                    <div class="vertical-text">JavaScript</div>
                    <div class="vertical-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sit
                        voluptates beatae debitis quaerat repellat laboriosam magni, voluptatem expedita quidem. Itaque
                        deleniti, beatae consequatur vero expedita sequi. Commodi, consectetur voluptates.</div>
                </div>
                <div class="vertical">
                    <img class="image-top" src="/img/python.svg" alt="">
                    <div class="vertical-text">Python</div>
                    <div class="vertical-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sit
                        voluptates beatae debitis quaerat repellat laboriosam magni, voluptatem expedita quidem. Itaque
                        deleniti, beatae consequatur vero expedita sequi. Commodi, consectetur voluptates.</div>
                </div>
              

            </div>
        </section>
    </main>


    <!-- Footer -->
    <footer class="footer">
        <div class="flex">
            <div class="footer-first">
                <h3>Thank you for visiting Rehat's Developer Portfolio!</h3>
            </div>
            <div class="footer-second"></div>
            <div class="footer-third"></div>
            <div class="footer-fourth"></div>
        </div>
    </footer>
    <!-- using typed js -->
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed('#element', {
            strings: ['passionate learner', 'Web Developer', 'Student'],
            typeSpeed: 50,
        });
    </script>
    <script src="/JS/index.js"></script>
</body>

</html>