
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15vh 0;
}
/* only first section div will get this width */
.firstSection >div{ 
    width: 30%;
}
.leftSection{
    font-size: 2.6rem;  
}
.leftSection .button{
    padding : 50px 0;
}
.leftSection .btn{
    padding:12px;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    color:rgba(177, 164, 164, 0.675);
    border: 2px solid rgba(177, 164, 164, 0.675);
    background:  #93198999;
}
.leftSection .resume-btn{
    padding:12px;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    color:rgba(177, 164, 164, 0.675);
    border: 2px solid rgba(177, 164, 164, 0.675);
    background:  #93198999;;
}
.rightSection img{
   width:40vw;  
}

#element{
    color: #D744A2;
}

