       
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

        
.secondSection{
 max-width: 80vw;
 margin: auto;
 /* background-color: #1D1C4E; */
 height: 80vh;
}

/* main hr{
 border:0;
 background:  #a7a9e9;
 background-color:rgb(72, 72, 172);
 height: 0.1vh;
 width: 20vw;
 margin-bottom: 10vh;
} */

main hr{
    border: 0;
    background-color:rgb(72, 72, 172);
    height: 1.2px;
    margin: 40px 84px;
}

.secondSection h1{
 font-family: "Noto Sans", sans-serif;
 font-weight: 400;
 
 
}


.secondSection .box {
    background-color:rgba(82, 76, 76, 0.589);
    height: 2px;
    margin: 100px 0px;
    display: flex;
    justify-content: space-around;
  }
  


.secondSection .vertical{
 height: 130px;
 width: 1px;
 background-color:rgba(82, 76, 76, 0.589);
 /* to increase spacing btw elements */
 margin: 0 100px;
}
.vertical-text{
 position: relative;
 top: 66px;
 width: 150px;
 font-size: 25px;
 font-weight: 600;
 left:-8px;
 margin: 0 -7px;
}

.vertical-description{
 position: relative;
 top: 75px;
 width: 150px;
 color: rgba(128, 128, 128, 0.675);
 font-size: 12px;
 margin: 0 -53px;
 left: 2px;
}
.image-top{
  width: 65px;
  position: relative;
  top: -85px;
  left: -32px;
}
